<div>
  <form style="width: 600px;">
    <div class="form-group justify-content-center">
      <label for="breed">Breed of the dog: </label>
      <input type="text" class="form-control" id="breed" placeholder="Enter breed of the dog" [formControl]="breedOfDog"
        required>
    </div>

    <div class="form-group">
      <label for="weight">Origin (country): </label>
      <input class="form-control" id="origin" type="text" [formControl]="origin" required
        placeholder="Enter the breed origin">
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <input class="form-control" id="description" type="text" [formControl]="descriptionOfDog" required
        placeholder="Enter description">
    </div>

    <div class="form-group">
      <label for="height">Height (cm): </label>
      <input class="form-control" id="height" type="number" [formControl]="height" required
        placeholder="Enter the dog height">
    </div>

    <div class="form-group">
      <label for="weight">Weight (kg): </label>
      <input class="form-control" id="weight" type="number" [formControl]="weight" required
        placeholder="Enter the dog weight">
    </div>
    </form>
    </div>
    <div>
      <Button class="btn background btnEdit" (click)="edit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle"
          viewBox="0 0 16 16">
          <path
            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
          <path
            d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
        </svg>
      </Button>
    </div>
    
  